# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
*.log

# Environment
venv/
env/
ENV/
.venv/
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
